{% include 'nav.html' %}
<div class="main">
{% block content %}
    
	<div class="">
		<div class="d-flex justify-content-center">
			<div class="card" style="width: 38rem;padding-left:30px;">
		<form action="{{url_for('deleteCollegeCategory',cgid=cg.id)}}" method="POST">
			<div class="card-body bg-info"style="border-color:#914B3C">
				<h2 class="card-text"style="color:#34495E">Are you sure you want to delete {{cg.st_name}}</h2>
			</div>
			<div class="card-footer d-flex justify-content-center">
				<input type="submit" class="btn btn-danger" value="Delete" style="margin-right: 10px;">
			    <button type="button" class="btn btn-warning"><a href="/home">Cancel</a></button>
			</div>
			
		</form>
	</div>
		</div>
		
	</div>
	{% endblock content %}